header {
  background-image: url("../src/img/bg-header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  position: relative;
  padding: 0 0 170px;
}
header h1 {
  font-weight: 900;
  font-size: 50px;
  color: #dc56c5;
  text-align: center;
  padding: 40px 0;
}
header .logo {
  background-image: url("../src/img/logo.png");
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  background-size: cover;
  background-position: center;
  width: 200px;
}
header .search-inputs {
  text-align: center;
}
header .search-inputs input,
header .search-inputs select {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  width: 220px;
}
header .search-inputs input:first-child {
  margin-right: 10px;
}
header .search-inputs input[type=text],
header .search-inputs select {
  color: #939393;
}

main {
  background-image: url("../src/img/bg-body.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
}

#cards-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px;
  background-color: #000000;
}

.card {
  position: relative;
  padding: 15px;
  text-align: center;
  color: #ffffff;
}
.card img {
  width: 180px;
  height: 227px;
  border-radius: 50px 0;
}
.card .frame {
  width: 153px;
  border: 1px solid #DC56C5;
  border-radius: 50px 0;
  height: 143px;
  position: absolute;
  bottom: 64%;
  left: 24%;
  opacity: 0.4;
}
.card h3 {
  margin: 10px 0 5px 0;
  font-size: 1.2rem;
}
.card p {
  margin: 5px 0;
  font-size: 16px;
  color: #cccccc;
}

.title {
  font-size: 16px;
  font-weight: 700;
  color: #DC56C5;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-link,
.pagination-ellipsis {
  margin: 0 5px;
  padding: 5px 10px;
  text-decoration: none;
  border: 2px solid transparent;
  background-color: transparent;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
.pagination-link.active,
.pagination-ellipsis.active {
  border: 2px solid #A03CDB;
  background-color: #A03CDB;
  color: #ffffff;
}
.pagination-link:hover,
.pagination-ellipsis:hover {
  border-color: #A03CDB;
  color: #A03CDB;
}