<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../css/header.css" />
    <title>Header</title>
  </head>
  <body>
    <header>
      <!-- <img src="../img/logo.png" alt="" /> -->
      <div class="logo"></div>
      <h1>
        FIND BEST EVENTS <br />
        AROUND THE WORLD
      </h1>

      <div class="search-inputs">
        <input type="text" placeholder="Start searching" />
        <select id="countrySelect" aria-placeholder="Choose country">
          <option value="">Choose country</option>
          <option value="FR">France</option>
          <option value="US">USA</option>
          <option value="PL">Switzerland</option>
          <option value="IT">Italy</option>
          <option value="DE">Germany</option>
          <option value="NL">Netherlands</option>
          <option value="ES">Spain</option>
          <option value="UK">United Kingdom</option>
        </select>
      </div>
    </header>
  </body>
</html>
