@import './mixins.scss';
@import './variables.scss';

  main {
  background-image: url('../src/img/bg-body.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
}

#cards-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px;
  background-color: $background-color;
}

.card {
  position: relative;
  padding: 15px;
  text-align: center;
  color: $text-color;

  img {
    width: 180px;
    height: 227px;
    @include border-radius-style;
  }

  .frame {
    width: 153px;
    border: 1px solid $primary-color;
    @include border-radius-style;
    height: 143px;
    position: absolute;
    bottom: 64%;
    left: 24%;
    opacity: 0.4;
  }

  h3 {
    margin: 10px 0 5px 0;
    font-size: 1.2rem;
  }

  p {
    margin: 5px 0;
    font-size: 16px;
    color: $muted-text-color;
  }
}

.title {
  font-size: 16px;
  font-weight: 700;
  color: $primary-color;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-link,
.pagination-ellipsis {
  margin: 0 5px;
  padding: 5px 10px;
  text-decoration: none;
  @include pagination-styles(transparent, transparent, $text-color);
  border-radius: 5px;
  cursor: pointer;

  &.active {
    @include pagination-styles($secondary-color, $secondary-color, $text-color);
  }

  &:hover {
    border-color: $secondary-color;
    color: $secondary-color;
  }
}
