@import './variables.scss';
.pagination-list {
  list-style: none;
  display: flex;
  gap: 5px;
  color: $text-color;
  .pagination-item,
  .pagination-dots {
    cursor: pointer;
    padding: 5px 10px;
  }

  .pagination-item:hover {
    background-color: #f0f0f0;
  }

  .pagination-dots {
    color: #999;
  }
}
