$primary-color: #DC56C5;
$secondary-color: #A03CDB;
$background-color: #000000;
$text-color: #ffffff;
$muted-text-color: #cccccc;
$title-color: dc56c5;
$select-color: rgba(255, 255, 255, 0.2);
$search-color: #939393;